DB_HOST=
DB_PORT=
DB_USERNAME=
DB_PASSWORD=
DB_NAME=

PALIZ_WALLET_BASE_URL=
PALIZ_WALLET_USERNAME=
PALIZ_WALLET_PASSWORD=
PALIZ_WALLET_SERVICE_ID=
PALIZ_WALLET_PRIVATE_KEY_PATH=
PALIZ_WALLET_SERVICE_ADDRESS=
PALIZ_WALLET_USER_ADDRESS=
PALIZ_WALLET_CURRENCY=

SHEPA_ENV=
SHEPA_API_KEY=

APP_BASE_URL=